<%-
resources = [
  { label: t(:'layouts.navbar.account.settings'), path: edit_user_registration_path }
]
%>
<% paths = resources.map { |h| h[:path] } -%>
<li role="presentation" class="dropdown <%= active_class paths %>">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
    <%= current_user.name %> <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <%- resources.each do |resource| %>
    <li class="<%= active_class resource[:path] %>">
      <%= link_to resource[:label], resource[:path] %>
    </li>
    <% end -%>
  </ul>
</li>
